<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a asp-controller="Home" asp-action="Index" class="brand-link">
        <img src="~/adminlte/dist/img/MetricsForce-Icon.png" alt="Metrics Force Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Metrics Force</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/adminlte/dist/img/user-icon.png" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">Nome Usuário</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
        with font-awesome or any other icon font library -->

                <li class="nav-item ">
                    <a asp-controller="Home" asp-action="Index" class="nav-link">
                        <i class="nav-icon fas fa-home"></i>
                        <p>
                            Home
                        </p>
                    </a>
                </li>

                @*<li class="nav-item menu-open">
                    <a href="#" class="nav-link active">
                        <i class="nav-icon fas fa-cog"></i>
                        <p>
                            Configuração
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">*@


                        <li class="nav-item">
                            <a asp-controller="Gerentes" asp-action="Index" class="nav-link">
                                <i class="nav-icon fas fa-user-shield"></i>
                                <p>
                                    Gerente
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Vendedores" asp-action="Index" class="nav-link">
                                <i class="nav-icon fas fa-user-shield"></i>
                                <p>
                                    Vendedor
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-percent"></i>
                                <p>Porcentagem</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>KPIs</p>
                            </a>
                        </li>
                    @*</ul>
                </li>*@
            </ul>

            <ul class="nav nav-pills nav-sidebar flex-column">
                <li class="nav-item ">
                    <a asp-controller="RegistroVendas" asp-action="Index" class="nav-link">
                        <i class="nav-icon fas fa-cash-register"></i>
                        <p>
                            Vendas
                        </p>
                    </a>
                </li>
            </ul>

            <ul class="nav nav-pills nav-sidebar flex-column">
                <li class="nav-item ">
                    <a asp-controller="Metas" asp-action="Index" class="nav-link">
                        <i class="nav-icon fas fa-compress-arrows-alt"></i>
                        <p>
                            Metas
                        </p>
                    </a>
                </li>
            </ul>

            <ul class="nav nav-pills nav-sidebar flex-column">
                <li class="nav-item ">
                    <a asp-controller="Home" asp-action="Sobre" class="nav-link">
                        <i class="nav-icon fas fa-lock"></i>
                        <p>
                            Sobre
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>