@model MetricsForceApp.Models.Meta

@{
    ViewData["Title"] = "Editar";
}

<div class="content-wrapper" style="padding-left: 10px">
    <h1 style="font-size: 25px">@ViewData["Title"]</h1>

    <h4>Meta</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="InicioMeta" class="control-label"></label>
                    <input asp-for="InicioMeta" class="form-control" />
                    <span asp-validation-for="InicioMeta" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FimMeta" class="control-label"></label>
                    <input asp-for="FimMeta" class="form-control" />
                    <span asp-validation-for="FimMeta" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MetaMes" class="control-label"></label>
                    <input asp-for="MetaMes" class="form-control" />
                    <span asp-validation-for="MetaMes" class="text-danger"></span>
                </div>
                
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <a class="btn btn-info" asp-action="Index">Voltar</a>
                </div>
            </form>
        </div>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</div>