@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<div class="row">
        <div class="col-sm-4">
            <div class="info-box bg-success">
                <div class="info-box-content text-center">
                    <h3 class="info-box-number">41,410</h3>
                    <span class="info-box-text">Realizado</span>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="info-box bg-success">
                <div class="info-box-content text-center">
                    <h3 class="info-box-number">59,176</h3>
                    <span class="info-box-text">Meta</span>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="info-box bg-success">
                <div class="info-box-content text-center">
                    <h3 class="info-box-number">70%</h3>
                    <span class="info-box-text">Porcentagem Atingida</span>
                </div>
            </div>
        </div>
</div>

@* Mudar as cores dos cards de acordo com a porcentagem de meta atingida 
    (danger/vermelho, warning/amarelo, sucess/verde *@
