@{
    ViewData["Title"] = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="content">
        <div class="container py-5">
            <div class="row mb-4">
                <h1 class="font-weight-light">MVP Metrics Force</h1>
                <p class="font-italic text-muted">
                    Trabalhávamos em empresas onde existiam números, mas sentíamos a necessidade de transformá-los em dados para acompanhamento e tomadas de decisão. Unindo essa demanda com a de um comércio de roupas em específico que tinha a mesma dificuldade, resolvemos criar o Metrics Force.
                </p>
                <p class="font-italic text-muted">
                    O Metrics Force é um projeto de dashboard com o objetivo de sintetizar informações de vendas, facilitando o acesso rápido a informações comerciais. Supervisores, gestores e vendedores são os principais atores interessados nesse projeto.
                </p>
            </div>

            <div class="row mb-4">
                <div class="col-lg-5">
                    <h2 class="font-weight-light">Tecnologias Utilizadas</h2>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <div>
                            <p class="text-center">
                                <i class="fas fa-2x fa-tools"></i><br>
                                Asp .Net Core MVC
                            </p>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div>
                            <p class="text-center">
                                <i class="fas fa-2x fa-network-wired"></i><br>
                                Entity Framework
                            </p>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div>
                            <p class="text-center">
                                <i class="fab fa-2x fa-bootstrap"></i><br>
                                Bootstrap
                            </p>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div>
                            <p class="text-center">
                                <i class="fas fa-2x fa-database"></i><br>
                                PostgreSQL
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-lg-5">
                    <h2 class="font-weight-light"></h2>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-lg-5">
                    <h2 class="font-weight-light">Desenvolvedores</h2>
                </div>
            </div>
            <div class="row text-center">
                <!-- Team item-->
                <div class="col-xl-6 col-sm-6 mb-5">
                    <div class="bg-white rounded shadow-sm py-5 px-4">
                        <img src="~/adminlte/dist/img/christine.jpeg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h5 class="mb-0">Christine Schütz</h5><span class="small text-uppercase text-muted">.Net Developer</span>
                        <ul class="social mb-0 list-inline mt-3">
                            <li class="list-inline-item"><a href="https://www.linkedin.com/in/christineschutz/" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!-- End-->
                <!-- Team item-->
                <div class="col-xl-6 col-sm-6 mb-5">
                    <div class="bg-white rounded shadow-sm py-5 px-4">
                        <img src="~/adminlte/dist/img/IMG_20201017_152956 - Copia (2).jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h5 class="mb-0">Flávio Oliveira</h5><span class="small text-uppercase text-muted">.Net Developer</span>
                        <ul class="social mb-0 list-inline mt-3">
                            <li class="list-inline-item"><a href="http://www.linkedin.com/in/flavio-r-oliveira" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!-- End-->
            </div>
        </div>
    </div>
</div>


