@{
    ViewData["Title"] = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">

    <div class="content">
        <div class="container py-5">
            <div class="row mb-4">
                <div class="col-lg-5">
                    <h4 class="display-4 font-weight-light">POC Metrics Force</h4>
                    <p class="font-italic text-muted">Informações sobre o trabalho.</p>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-lg-5">
                    <h6 class="display-4 font-weight-light">Desenvolvedores</h6>             
                </div>
            </div>
            <div class="row text-center">
                <!-- Team item-->
                <div class="col-xl-6 col-sm-6 mb-5">
                    <div class="bg-white rounded shadow-sm py-5 px-4">
                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h5 class="mb-0">Christine Schütz</h5><span class="small text-uppercase text-muted">.Net Developer</span>
                        <ul class="social mb-0 list-inline mt-3">
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!-- End-->
                <!-- Team item-->
                <div class="col-xl-6 col-sm-6 mb-5">
                    <div class="bg-white rounded shadow-sm py-5 px-4">
                        <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h5 class="mb-0">Flávio Oliveira</h5><span class="small text-uppercase text-muted">.Net Developer</span>
                        <ul class="social mb-0 list-inline mt-3">
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!-- End-->
            </div>
        </div>
    </div>
</div>


