@using static AppMetricsForce.Helpers.NavigationIndicatorHelper;

<aside class="main-sidebar sidebar-dark-info elevation-4">
    <a href="~/Home" class="brand-link">
        <img src="~/img/METRICS FORCE.png" alt="Metrics Force Logo"
             class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">Metrics Force</span>
    </a>
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/img/user-icon.png" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">Nome Usuário</a>
            </div>
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column"
                data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item ">
                    <a asp-controller="Home" asp-action="Index"
                       class="nav-link @Url.MakeActiveClass("home","index")">
                        <i class="nav-icon fas fa-home"></i>
                        <p>
                            Dashboard
                        </p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a asp-controller="Home" asp-action="Sobre"
                       class="nav-link @Url.MakeActiveClass("home","sobre")">
                        <i class="nav-icon fas fa-user-friends"></i>
                        <p>
                            Equipe
                        </p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a asp-controller="Home" asp-action="Sobre"
                       class="nav-link @Url.MakeActiveClass("home","sobre")">
                        <i class="nav-icon fas fa-chart-line"></i>
                        <p>
                            Meta
                        </p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a asp-controller="Home" asp-action="Sobre"
                       class="nav-link @Url.MakeActiveClass("home","sobre")">
                        <i class="nav-icon fas fa-info-circle"></i>
                        <p>
                            Sobre
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>