@model MetricsForceApp.Models.RegistroVenda

@{
    ViewData["Title"] = "Edit";
}

<div class="content-wrapper" style="padding-left: 10px">
    <h1 style="font-size: 25px">@ViewData["Title"]</h1>

    <h4>RegistroVenda</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="QuantidadeItem" class="control-label"></label>
                    <input asp-for="QuantidadeItem" class="form-control" />
                    <span asp-validation-for="QuantidadeItem" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ValorVenda" class="control-label"></label>
                    <input asp-for="ValorVenda" class="form-control" />
                    <span asp-validation-for="ValorVenda" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="QuantidadeTicket" class="control-label"></label>
                    <input asp-for="QuantidadeTicket" class="form-control" />
                    <span asp-validation-for="QuantidadeTicket" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Data" class="control-label"></label>
                    <input asp-for="Data" class="form-control" />
                    <span asp-validation-for="Data" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>


    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</div>